
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>#Dinamik Başlık</h1>
            </div>
            <div class="col-sm-6">
                <partial name="Partial/_BreadCrumb" />
            </div>
        </div>
    </div><!-- /.container-fluid -->
