<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Paneli</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/img/user-admin.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a asp-controller="User" asp-action="Profile" asp-route-userId="@TempData["userId"]" class="d-block">
                    @if (TempData["userName"] != null)
                    {
                        @TempData["userName"]
                    }
                    else
                    {
                    <span class="alert alert-warning text-sm-left">Kullanıcı bulunamadı!!!</span>
                        }
                    </a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Arama..." aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Panel
                        </p>
                    </a>
                   
                </li>
                <li class="nav-item">
                    <a asp-controller="Car" asp-action="List" class="nav-link">
                        <i class="nav-icon fas fa-car"></i>
                        <p>
                            Arabalar
                            <span class="right badge badge-danger">Yeni</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="OperationClaim" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-user-tag"></i>
                        <p>
                            Roller
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="OperationClaim" asp-action="Add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rol Ekle</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="OperationClaim" asp-action="List" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rol Listele</p>
                            </a>
                        </li>
                    </ul>
                </li>
             
                <li class="nav-item">
                    <a asp-controller="Brand" asp-action="List" class="nav-link">
                        <i class="nav-icon fas fa-th-list"></i>
                        <p>
                            Markalar
                        </p>
                    </a>
                </li>
           
                <li class="nav-item">
                    <a asp-controller="Color" asp-action="List" class="nav-link">
                        <i class="nav-icon fas fa-paint-roller"></i>
                        <p>Renkler</p>
                    </a>
                </li>
             
                <li class="nav-header">SETTINGS</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-circle text-danger"></i>
                        <p class="text">Important</p>
                    </a>
                </li>
            
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>