@model Car
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Araç Güncelleme Sayfası</h1>
                </div>
                <div class="col-sm-6">
                    <partial name="Partial/_BreadCrumb" />
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <form asp-controller="Car" asp-action="Edit" method="post">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <!-- Form Element sizes -->
                        <!-- general form elements disabled -->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Araç Güncelleme</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <input type="hidden" asp-for="Id">
                                <!-- input states -->
                                <div class="form-group">
                                    <label class="col-form-label" asp-for="Name">
                                        Araba Adı
                                    </label>
                                    <input type="text" asp-for="Name" class="form-control" id="inputSuccess" placeholder="Araba adı giriniz...">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" asp-for="Description">
                                        Açıklama
                                    </label>
                                    <input type="text" asp-for="Description" class="form-control" id="inputWarning" placeholder="Açıklama giriniz ...">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" asp-for="ModelYear">
                                        Model Yılı
                                    </label>
                                    <input type="number" asp-for="ModelYear" class="form-control" id="inputError" placeholder="Yıl giriniz ...">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" asp-for="DailyPrice">
                                        Günlük Kiralama Ücreti
                                    </label>
                                    <input type="number" asp-for="DailyPrice" class="form-control" id="inputError" placeholder="Fiyat giriniz ...">
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- general form elements disabled -->

                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">
                        <!-- Form Element sizes -->
                        <!-- general form elements disabled -->
                        <div class="card card-warning">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- select -->

                                @await Component.InvokeAsync(typeof(WebUIAspNetMvcCore.Areas.AdminPanel.ViewComponents.ColorList))
                                @await Component.InvokeAsync(typeof(WebUIAspNetMvcCore.Areas.AdminPanel.ViewComponents.BrandList))
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-fill btn-success">Güncelle</button>
                            </div>
                            <!-- /.card-body -->

                        </div>
                        <!-- /.card -->
                        <!-- general form elements disabled -->

                    </div>
                    <!--/.col (right) -->
                </div>
            </form>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>