@model ColorListModel
@{
    Layout = null;
}

<div class="form-group">
    <label>Renk Seçinizi</label>
    <select class="custom-select" asp-for="ColorId">
        @foreach (var color in Model.Colors)
        {
            <option value="@color.Id">@color.Name</option>
        }

    </select>
</div>